<h2>Browse by topic</h2>
{% capture temptags %}
  {% for tag in site.tags %}
    {{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}
  {% endfor %}
{% endcapture %}
{% assign sortedtemptags = temptags | split:' ' | sort | reverse %}
{% for temptag in sortedtemptags %}
  {% assign tagitems = temptag | split: '#' %}
  {% capture tagname %}{{ tagitems[1] }}{% endcapture %}
  <span class="tag_format"><i class='fa fa-tag'></i>&nbsp;<a href="{{ site.baseurl }}/tag/{{ tagname }}">{{ tagname }}</code>&nbsp;</a></span>
{% endfor %}