---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>
  
  <div class="date">
    <i class='fa fa-calendar'></i> Written on {{ page.date | date: "%B %e, %Y" }}	
  </div>  
  
  <div class="readtime">
	<i class='fa fa-clock-o'></i> {% include readtime3.html content=content %}
  </div>
   
  <div class ="tags">
  {% for tag in page.tags %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
    <i class='fa fa-tag'></i>&nbsp;<a href="{{ site.baseurl }}/tag/{{ tag_name }}">{{ tag_name }}</code>&nbsp;</a>
  {% endfor %}
 </div>  

  <hr>
  
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

  <div class="entry">
    {{ content }}
  </div>
  {% include tag-cloud.html %}
  {% include disqus.html %}  
</article>